$border-bottom-radius: 4px;
$dropdown-bg-color: #fff;
$field-border-color: #ccc;

.autocomplete-dropdown {
  max-height: 256px;
  border: 1px solid $field-border-color;
  border-top: 0px;
  border-bottom-left-radius: $border-bottom-radius;
  border-bottom-right-radius: $border-bottom-radius;
  background-color: $dropdown-bg-color;
  overflow: auto;
}