body {
  .category-list {
    > li {

      &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        max-width: 40px;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 50%;
        font-family: 'myicons';
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        color: #fff;
      }

      &.category-electronics {
        &:before {
          content: '\ea22';
          background: #6E9DFF;
        }
      }

      &.category-fashion {
        &:before {
          content: '\ea29';
          background: #FF6E79;
        }
      }

      &.category-home-and-garden {
        &:before {
          content: '\ea14';
          background: #0fb36c;
        }
      }

      &.category-baby {
        &:before {
          content: '\ea15';
          background: #00D5FF;
        }
      }

      &.category-culture-and-entertainment {
        &:before {
          content: '\ea2a';
          background: #FFBC6E;
        }
      }

      &.category-sport-and-relax {
        &:before {
          content: '\ea17';
          background: #5BFF90;
        }
      }

      &.category-automotive {
        &:before {
          content: '\ea18';
          background: #22B0FF;
        }
      }

      &.category-collections-and-art {
        &:before {
          content: '\ea2b';
          background: #FFC3BB;
        }
      }

      &.category-company {
        &:before {
          content: '';
          background: #0fb36c;
        }
      }

      &.category-wedding {
        &:before {
          content: '\ea13';
          background: #FF74B4;
        }
      }

      > span {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        width: calc(100% - 80px);
        min-height: 25px;
      }

      ul {
        padding-left: 70px;

        li {
          padding: 10px 0;

          &:after {
            margin-top: 18px;
            display: block;
            width: calc(100% - 20px);
            height: 1px;
            content: '';
            background: #ccc;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
