$label-color: #999;
$label-active-color: #000;
$field-color: #000;
$field-border-color: #ccc;

@mixin notEmptyLabel {
  & + label {
    font-size: 11px;
    transform: translate3d(0, -10px, 0);
    color: $label-active-color;
  }
}

app-root {
  ogar-field {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;

    .field-container {
      display: inline-block;
      width: 100%;

      &.not-empty {
        input[type=text],
        input[type=number],
        input[type=tel],
        input[type=password],
        ogar-select,
        textarea {
          @include notEmptyLabel;
        }
      }

      input[type=text],
      input[type=number],
      input[type=tel],
      input[type=password],
      ogar-select,
      textarea {
        width: 100%;
        padding: 18px 10px 5px 10px;
        font-size: 16px;
        color: $field-color;
        border: 0;
        border-bottom: 1px solid $field-border-color;
        border-radius: 0;
        box-sizing: border-box;
        background-color: #fff;
        -webkit-appearance: none;

        &:focus {
          outline: none;
          box-shadow: 0 0 8px rgba(0, 0, 0, .2);
          @include notEmptyLabel;
        }

        &[disabled] {
          background-color: #eee;
        }

        & + label {
          pointer-events: none;
          position: absolute;
          top: 14px;
          left: 10px;
          font-size: 14px;
          user-select: none;
          transform-origin: 0 0;
          transition: all .1s ease-in-out;
          color: $label-color;
        }

        &.ng-touched {
          &.ng-invalid {
            border-color: red;
          }
        }
      }

      ogar-select {
        ogar-option {
          font-size: 16px;
        }
      }
    }
  }
}
