ogar-option {
  display: block;
  padding: 8px 20px;
  height: 36px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #f0f0f0;

    .icon-check {
      color: #fff;
      font-weight: bold;
      background-color: #000;
    }
  }

  &.active {
    font-weight: bold;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .4;

    &:hover {
      background: none;
    }
  }

  .ogar-option {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .icon-check {
    margin-right: 10px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    border-radius: 100%;
    background-color: #fff;
  }
}
