@import "../variables/variables";
.page-container {
  height: 100%;
  & > .header {
    background: $brand-color;
    height: $stickyBarHeight;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: env(safe-area-inset-top);
    .label {
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: 10px;
      text-align: center;
      height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 40px;
      font-size: 20px;
      font-weight: 700;
    }

    .button,
    .back-button {
      padding: 0;
      min-width: 60px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      text-decoration: none;

      a {
        color: #fff;
      }

      &.right {
        margin-left: auto;
      }
    }
  }
  & > .content {
    box-sizing: border-box;
  }
}
