$field-border-color: #ccc;

app-root {
  ogar-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #000;

    &[multiple="true"] {
      ogar-option[value=""] {
        display: none;
      }

      ogar-option {
        &.selected {
          background: none;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }

    &.disabled {
      opacity: .6;
    }
  }

  .ogar-select-arrow {
    font-size: 18px;
  }

  .ogar-select-container {
    position: relative;
    outline: none;
    padding-right: 50px;
  }

  .ogar-select-value {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .expanded {
    .icon-arrow-down {
      transform: rotate(180deg);
    }
  }

  .icon-arrow-down {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 41px;
    font-size: 16px;
    text-align: center;
    line-height: 41px;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    vertical-align: top;
    transition: transform .2s ease-in-out;
    background: none;
  }
}

.cdk-overlay-pane {
  .ogar-select-list {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    z-index: 1000;

    margin: 0;
    padding: 20px 0;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    overflow: auto;
    max-height: 200px;
    text-align: center;
    box-shadow: 0px -6px 20px rgba(0,0,0,.1);
  }
}

@media (min-width: 768px) {
  .cdk-overlay-pane {
    .ogar-select-list {
      position: absolute;
      top: 0;
      bottom: auto;
      left: -11px;
      right: -11px;
      z-index: 2;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      box-shadow: none;

      border: 1px solid $field-border-color;
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
