@import '../variables/_colors.scss';

app-root {
  ogar-slide-toggle {
    user-select: none;
    cursor: pointer;
    display: block;
    width: 100%;

    input[type=checkbox] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  .slide-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rail {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 58px;
    height: 28px;
    min-width: 58px;
    border-radius: 26px;
    border: 2px solid #ccc;
    transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, .1);
  }

  .thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
  }

  .label {
    vertical-align: middle;
  }

  .active {
    .rail {
      border-color: $brand-color;
      background-color: $brand-color;
    }

    .thumb {
      background-color: #fff;
    }
  }
}
