@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.router-outlet-modal {
  > router-outlet {
    & + * {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 901;
      background: rgba(0, 0, 0, .5);
      display: flex;

      app-scroll-vertical {
        position: relative;
        transform: translateZ(0);
        border-radius: 4px;
        background: #f5f5f5;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        margin: auto;
        width: 100%;
        max-width: 80%;
        max-height: 95%;
        height: auto;
        .btn {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.admin-content-wrapper {
  width: 100%;
  height: 100vh;
  padding: 40px 20px 0 100px;
  box-sizing: border-box;

  .router-outlet {
    & > * {
      display: block;
      height: 100%;
      padding: 0 0 0 20px;
      color: #333;
    }
  }

  h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 20px 0 10px 0;
  }

  .box {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
  }
  .default {
    width: 100%;
    font-size: 12px;
    tr {
      th {
        background: #666;
        text-align: left;
        color: #fff;
      }
      &:hover {
        td {
          background: #f5f5f5;
        }
      }
      th, td {
        padding: 10px;
        transition: background .2s ease-in-out;
        border-bottom: 1px solid #eee;
      }
    }
  }

  .btn-wrapper {
    margin: 10px 0;
    text-align: center;
  }

  .btn {
    padding: 10px 20px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    color: #fff;
    background: #0fb36c;
    transition: all .25s ease-in-out;
    font-weight: 600;
    &:hover {
      background: #12d480;
    }
    &[disabled] {
      opacity: 0.5;
    }
    &.btn-outline {
      color: #fff;
      border: 1px solid #0fb36c;
      background: none;
    }
    &.btn-icon {
      height: 20px;
      line-height: 25px;
      padding: 0 5px;
      i {
        font-size: 14px;
      }
    }
    &.btn-small {
      font-size: 10px;
      font-weight: 600;
      padding: 8px 20px;
      border-radius: 4px;
    }
  }
  form {
    label {
      font-size: 13px;
    }
  }
}
