@mixin circle-icon() {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;

  a {
    display: block;
    margin-bottom: 10px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }

  .nc-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    color: #666;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #666;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}
