@import 'vendor/normalize';
@import 'variables/variables';
@import 'vendor/flexboxgrid.min';
@import 'vendor/mixins';
@import 'components/components';
@import 'modules/modules';
@import 'vendor/cdk';
@import 'font/nucleo/nucleo';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: $fontColor;
}

.base-router,
.child-router {
  router-outlet {
    & + * + *,
    & + * {
      display: block;
      background: $white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      z-index: 100;
      &.ng-animating {
        box-shadow: 0 0 19px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.user-profile-router {
  height: calc(100% - 50px);
  router-outlet {
    & + * {
      position: relative;
      &.ng-animating {
        box-shadow: 0 0 19px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.user-profile-items-router {
  height: calc(100% - 60px);

}

.app-backdrop {
  background: rgba(#000, 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.app-backdrop {
  background: rgba(#000, .7);
}

a {
  color: $linkColor;
  cursor: pointer;
}

.gm-style div div div {
  background-size: 100%;
}

.gm-style div[style="display: table-cell; vertical-align: middle; white-space: nowrap; text-align: center;"] {
  div {
    font-weight: bold;
    color: $black !important;
    position: relative;
    top: -20px;
  }
}

button,
input[type=text],
input[type=number] {
  appearance: none;
}

.modal-panel_isBrowser_WEBKIT_IOS_SAFARI {
  .modal-content {
    .modal-close {
      top: 60px;
      right: 10px;
    }
  }
}

.error-message {
  padding: 5px;
  color: $warn;
  font-size: 1.2rem;
  text-align: center;
}

.orientation-5,
.orientation-6,
.orientation-7,
.orientation-8 {
  canvas, img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
  }
}

.orientation-1,
.orientation-2,
.orientation-3,
.orientation-4 {
  canvas, img {
    width: auto !important;
    height: auto !important;
    max-height: 100% !important;
  }
}

.fieldset-form {
  display: block;
  margin: 0;
  padding: 20px;
  min-width: 1%;
  border: 0;
  background: #fff;
}

.buttons {
  padding: 20px;
  text-align: center;
  background-color: #fff;

  .button {
    width: 100%;
    max-width: 414px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &.inline {
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
      margin: 0 5px;
    }
  }
}

.button {
  margin: 0;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  background: $brand-color;

  &.button-outline {
    color: $brand-color;
    border: 1px solid $brand-color;
    background: none;
  }

  &.button-medium {
    width: 100%;
    height: 50px;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
  }

  &.button-large {
    width: 100%;
    height: 60px;
    max-width: 414px;
    padding: 10px 20px;
    text-align: center;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.modal-close {
  text-decoration: none;
  color: $brand-action-color;
}

.messages, .conversation {
  font-size: 13px;
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  &.preview {
    max-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
  }
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  margin: 60px 0 0;

  .message-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    .message {
      max-width: 90%;
      text-align: left;
      font-size: 14px;
      .message-text {
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 4px;
        background: $chatMessageBackground;
        color: $white;
        word-break: break-word;
      }
      p {
        margin: 0;
      }
      .info {
        padding-left: 6px;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .date {
          padding: 0 5px;
        }
      }
    }
    &.self {
      justify-content: flex-end;
      .message {
        text-align: right;
        .info {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
.new-message {
  margin: 10px 20px;
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  input {
    height: 40px;
    flex: 1;
    border: 0;
    background: none;
    outline: none;
  }
  .send {
    font-size: 16px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $chatMessageBackground;

    .nc-icon {
      font-size: 24px;
    }
  }
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $stickyBarHeight;
  .close,
  .back {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  h1 {
    font-size: 16px;
    font-weight: normal;
    color: $brand-color;
  }
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  flex-direction: row;
  align-content: flex-start;
}
