<input #myInput class="file-input" multiple type="file" (change)="uploadFile($event)" accept=".jpg,.png,image/*">
images: {{componentTemplateList.length}}
<button (click)="save()">Save</button>
<div class="percent-box">
  <div class="percent" *ngFor="let task of tasks">
    {{task | async}}%
  </div>
</div>
<h4>Preview</h4>
<div class="container">

  <ng-container *ngFor="let img of loadingigImages">
    <img [src]="img" alt="">
  </ng-container>

</div>
