$backgroundColor: #f3f3f3;
$white: #fff;
$black: #000;
$linkColor: #769bff;
$lightGrey: #f3f3f3;
$red: #ff7257;
$warn: #ff7257;
$success: #0fb36c;
$fontColor: #333;

$googleBlue: #4285F4;
$facebookBlue: #3B5998;

// $brand-color: #0fb36c;
$brand-color: #FF5D66;
$brand-action-color: #4285F4;

$online:  #22b756;
$offline: #ff0d03;
$chatMessageBackground: #0084ff;
