/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-zoom-2:before {
  content: "\ea02";
}

.nc-icon.nc-bullet-list-67:before {
  content: "\ea03";
}

.nc-icon.nc-filter:before {
  content: "\ea04";
}

.nc-icon.nc-settings-gear-63:before {
  content: "\ea05";
}

.nc-icon.nc-square-pin:before {
  content: "\ea06";
}

.nc-icon.nc-email-83:before {
  content: "\ea08";
}

.nc-icon.nc-single-02:before {
  content: "\ea09";
}

.nc-icon.nc-box-3d-50:before {
  content: "\ea0a";
}

.nc-icon.nc-shape-star:before {
  content: "\ea0b";
}

.nc-icon.nc-like-2:before {
  content: "\ea0c";
}

.nc-icon.nc-support-17:before {
  content: "\ea0d";
}

.nc-icon.nc-chart-bars:before {
  content: "\ea0e";
}

.nc-icon.nc-chart-bar-53:before {
  content: "\ea0f";
}

.nc-icon.nc-mobile:before {
  content: "\ea10";
}

.nc-icon.nc-pencil:before {
  content: "\ea11";
}

.nc-icon.nc-dress-woman:before {
  content: "\ea13";
}

.nc-icon.nc-plant-vase:before {
  content: "\ea14";
}

.nc-icon.nc-child:before {
  content: "\ea15";
}

.nc-icon.nc-note-04:before {
  content: "\ea16";
}

.nc-icon.nc-volleyball:before {
  content: "\ea17";
}

.nc-icon.nc-car-parking:before {
  content: "\ea18";
}

.nc-icon.nc-menu:before {
  content: "\ea1a";
}

.nc-icon.nc-chat-33:before {
  content: "\ea1b";
}

.nc-icon.nc-heart-2:before {
  content: "\ea1c";
}

.nc-icon.nc-minimal-up:before {
  content: "\ea1d";
}

.nc-icon.nc-minimal-down:before {
  content: "\ea1e";
}

.nc-icon.nc-minimal-left:before {
  content: "\ea1f";
}

.nc-icon.nc-minimal-right:before {
  content: "\ea20";
}

.nc-icon.nc-simple-remove:before {
  content: "\ea21";
}

.nc-icon.nc-desktop:before {
  content: "\ea22";
}

.nc-icon.nc-shape-star-2:before {
  content: "\ea23";
}

.nc-icon.nc-circle-simple-up:before {
  content: "\ea24";
}

.nc-icon.nc-simple-add:before {
  content: "\ea25";
}

.nc-icon.nc-phone-2:before {
  content: "\ea26";
}

.nc-icon.nc-check-small:before {
  content: "\ea27";
}

.nc-icon.nc-heart-2-2:before {
  content: "\ea28";
}

.nc-icon.nc-hanger:before {
  content: "\ea29";
}

.nc-icon.nc-controller:before {
  content: "\ea2a";
}

.nc-icon.nc-desk:before {
  content: "\ea2b";
}

